# MongoDB Connection String
# For local development: mongodb://localhost:27017/whiteboard
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/whiteboard
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/whiteboard

# Session Secret
SESSION_SECRET=your-secret-key-here

# Port
PORT=5000
